{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<title>The Brad's blog</title>
	</head>
	<body>
		<h1>The Brad's blog
		{% if request.user.is_staff %}
			<a href="{% url 'add' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt='[New]' width="50"></a>
		{% else %}
			<a style="font-size: 15px;" href="/admin" align='rigth'>ADMIN</a>
		{% endif %}

		</h1>
		{% block 'contains' %}
		{% endblock %}
		
	</body>
</html>