{% extends 'blog/base.html' %}
{% load static %}
{% block 'contains' %}
{% for article in articles %}
<div>Published by {{article.author}}: <i>{{article.pub_date}}</i></div>
<h3 id='article_title'>
	<u>{{article}}</u>
	&nbsp;
	{% if request.user.is_staff %}
		<a href="{% url 'edit' article.id %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" alt='[Edit]'></a>
		<a href="{% url 'delete' article.id %}"><img src="{% static 'admin/img/icon-deletelink.svg' %}" alt='[Delete]'></a>
	{% endif %}
</h3>
<p>
{{article.contains}}
</p>
{% if request.user.is_authenticated %}
	<p><a href="{% url 'comment' article.id %}"><i>Comment</i></a></p>
{% endif %}
<div>
<i>
<p>Comment</p>
{% for i in article.comment_set.all %}
	<p id='comment'>{{i}}</p>
{% empty %}
	<p id='comment'>No comment for the moment.</p>
{% endfor %}
</i>
</div>
<hr>
{% empty %}
	<h3>Nothing for the moment.</h3>
{% endfor %}
{% endblock %}
